/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    height: 100%;
}

body {

    background:#6bba70;
    margin-left: 4.0em;
    margin-right: 4.0em;
}

h1 {
    font-weight: bold;
    font-size: 4.0em;
    text-align: Center;
    max-width: 0px auto;
    margin: 0 auto;
    border-radius: 10px;
    text-shadow: -4px 3px white;
}


blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


/* custom css */

h2 {
    font-weight: bold;
    font-size: 2.2em;
    text-align: Left;
    max-width: 0em auto;
    margin: 0 auto;
    margin-left: 0.9em;
}	

h3 {

    font-size: 1.7em;
    text-align: Center;
    font-weight: bold;
    max-width: 0em auto;
    margin: 0em auto;
}	

h4 {

    font-size: 1.2em;
    text-align: Center;
    max-width: 0em auto;
    margin: 0em auto;
}	


p {
	font-size: 1.0em;
	margin-left: 2.0em;
	margin-right: 2.0em;
}

fieldset{
	background-color: rgb(245, 245, 255);
	background-image: url("cricket4.jpg"); /* ref: http://farian.site/cricket-bat-hitting-ball.html */
	margin: 2.0em auto 1.0em;
	padding: 1.7em;
	width:20%;
	border-radius: 1.0em 1.0em 1.0em 1.0em;
}

label{
	display:block;
	float:left;
	clear:left;
	font-size: 1.1em;
	font-weight: bold;
	width:100%;
	margin-top:1.0em;
	margin-bottom:0.6em;
}

input {
	height:1.8em;
}


input, textarea {
	display:block;
	float:left;
	font-size: 1.0em;
	width:100%;
	margin-left:0em auto;
	margin-right:0em auto;
	border-radius: 0.5em 0.5em 0.5em 0.5em; 
}

input[type="submit"] { 
	float:none;
	height:2.7em;
	margin:none;
	width:13.0em;
	display:block;
	margin:1.0em auto 1.0em; 
}

input:focus {
	background-color: rgb(160, 225, 240);
}

input:focus:valid {
	background-color: rgb(255, 240, 225);
	background-position: right bottom;
	background-size: 2.0em 2.0em;
}

input:focus:invalid {
	background-color: rgb(240, 225, 225);
	background-image: url("stop.png");
	background-position: right bottom;
	background-repeat:no-repeat;
	background-size: 2.0em 2.0em;
}

